@using HappyFligts.MvcWebUI.Entity;
@model IEnumerable<Ucuslar>

@{
    ViewBag.Title = "Donus Bileti";
}
<style>
    #header {
        height: auto;
    }
</style>
</div>

<div class="row container-fluid" style="margin-top: 250px;">
       @if (Model.Count() == 0)
       {
        @Html.Partial("_TicketNotFound")
       }
    else
    {
        foreach (var bilet in Model)
        {
            <div class="col-md-11" style="margin: 0px 70px;margin-bottom:30px">
                <div class="card  bg-white text-dark border-danger" style="color: #000;">
                    <h5 class="card-header">@bilet.Guzergah.Guzergah_Nereden -@bilet.Guzergah.Guzergah_Nereye</h5>
                    <div class="card-body">
                        <h5 class="card-title">Kalkış Saati:@bilet.KalkisSaati</h5><br />
                        <h5 class="card-title">@bilet.Guzergah.Guzergah_Nereden</h5>
                        <div class="card-text">
                            <div class="deneme" style="height:100px;">
                                <img src="/theme/img/if_one_way_1454209.png">
                                <hr class="cizgi" style="background-color: #808080; width: 90%; margin-top: -30px;">
                                <h5 class="card-title" style="float: right; margin-top:-150px;">Varış Saati: @bilet.VarisSaati</h5><br />
                                <h5 class="card-title" style="float: right; margin-top:-110px;"> @bilet.Guzergah.Guzergah_Nereye</h5><br />
                                <h5 class="card-title" style="float: right;">TRY @bilet.Ucretler.Yetiskin<br />
                            </div>
                        </div>
                            <a href="/Home/Payment/?donusid=@bilet.Id" class="btn btn-danger">Ödeme adımına git</a>
                    </div>
                </div>
            </div>
        }
    }
</div>